
*::-webkit-scrollbar { width: 5px; height: 3px; }

*::-webkit-scrollbar-thumb { -webkit-border-radius: 0; border-radius: 0; background: #ccc; }

*::selection { background-color: #ea6f5a; color: white }

pre {
  tab-width: 4;
}

/*view*/
.pre-view { padding-left: 5px; padding-right: 5px; padding-bottom: 50px;
  h1 { text-indent: 1em; font-weight: normal; font-size: 20px; height: 50px; line-height: 50px; position: relative;
    &::before { content: " "; width: 10px; margin: -5px 0 0 4px; height: 10px; border-radius: 50%; background-color: #ea6f5a; position: absolute; top: 50%; left: 0; }
  }
  /* #2dabee*/
  h3 { background-color: #aeb7bb; color: white; height: 35px; line-height: 35px; font-size: 16px; font-weight: normal; text-indent: 20px; }

  pre, xmp { background-color: #ecebe9; line-height: 20px; margin: 0; overflow: auto }


  .pre-btn-list { background-color: #ecebe9; border-top: #b0c1c7 dashed 1px; }
  /*使用说明--tab*/
  .use-box { position: relative;
    .pre-tab { position: absolute; right: 0; top: 0; height: 30px;
      a { width: 50px; font-size: 12px; float: left; height: 24px; text-align: center; line-height: 24px; background-color: #dcdcdc; color: white; margin-left: 1px; }
      .active { color: #ecebe9; background-color: #c5c5c5 }
    }
    xmp { display: none; tab-width: 2; }
    .active { display: block; }
  }
}
/*pre*/
.pre-box { background-color: #ecebe9; padding: 20px 0 }
/*执行按钮*/
.btn-list { padding: 10px 20px;
  button { border: none; padding: 5px 10px; min-width: 80px; border-radius: 4px; background-color: #2dabee; color: white; transition: all .1s;
    &:hover { background-color: #0f8ed2; }
  }
}
/*返回值说明*/
.plist-box { background-color: #dbe6ea;
  p { line-height: 40px; border-bottom: #cccdce solid 1px; display: flex; }
  span { display: inline-block; border-right: #cccdce solid 1px; width: 30%; text-align: right; padding-right: 20px; margin-right: 20px; word-break: break-all; max-width: 350px; }
  em { color: #2dabee; }
  label { flex: 1 }
}
/*示例dome*/
.dome-box {text-align: center;margin: 10px 0;}

/*loading*/
.k-bar {
  position: absolute; width: 25px; height: 2px; border-radius: 2px; background-color: #4b9cdb;
  bottom: 0; left: 0; z-index: 2; animation: k-loadingJ 4s cubic-bezier(.17, .37, .43, .67) infinite;
}
@keyframes k-loadingJ {
  0%, 100% {
    transform: translate(0, 0)
  }
  50% {
    transform: translate(220px, 0);
    background-color: #f5634a;
    width: 40px
  }
}


/*loading 2*/
.k-ring-2 { position: relative; width: 45px; height: 45px; margin: 0 auto; border: 4px solid #9C27B0; border-radius: 100%;}
.k-ball-holder2 { animation: k-loadingE 2.3s linear infinite; position: absolute; width: 12px; height: 45px; left: 17px; top: 0;}
@keyframes k-loadingE {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.k-ball1e { position: absolute; top: -10px; left: -1px; width: 16px; height: 16px; border-radius: 100%; background: #d4e533;}
.k-ball2c { position: absolute; bottom: -10px; left: -1px; width: 16px; height: 16px; border-radius: 100%; background: #F44336;}
.k-ball5b { position: absolute; top: 14px; left: -26px; width: 16px; height: 16px; border-radius: 100%; background: #4CAF50;}
.k-ball6b { position: absolute; top: 14px; right: -26px; width: 16px; height: 16px; border-radius: 100%; background: #3F51B5;}

.test-div{align-items:center}