<ion-view view-title = "Joke">
  <ion-nav-buttons side = "left">
    <button class = "button button-icon icon ion-ios-arrow-left button-clear" > 返回</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll = "false" has-bouncing = "true">

    test!!!
    <!--<ion-list>-->
      <!--<ion-item class = "item-text-wrap" ng-repeat = "item in list">{{item.content}}</ion-item>-->
    <!--</ion-list>-->
    <!--<ion-infinite-scroll ng-if = "isScroll" on-infinite = "next(1)" distance = "1%"></ion-infinite-scroll>-->
  </ion-content>
</ion-view>
