<ion-view view-title="小灵">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-grid" on-tap="goSetting()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="ling-ling" ling>
      <div class="ling-list"></div>
      <p class="ling-bottom">
        <input type = "text" ng-model="txt">
        <a href = "javascript:void(0)" class="btn-send" on-tap="send()">发送</a>
        <a href = "javascript:void(0)" class="btn-clear" on-tap="clear()">清空</a>
      </p>
    </div>
  </ion-content>
</ion-view>

