/*弹层*/
.fix-box, .fix-box .bg {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.fix-box {
  .bg {background-color: #000;opacity: .4}
  .main {position: absolute;width: 70%;left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #fff;border-radius: 5px;}
}
/*弹窗-列表*/
.cp-type-box {

}