/**
*Description : 弹出层样式
**/
@import "root";
.xui-shade { width: 100%; display: none; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: #000000; filter: alpha(opacity=10); opacity: 0.1; z-index: 9999; }
.xui-flower { position: fixed; left: 33%; top: 20%; width: auto; z-index: 10000; background-color: white;border-radius: 5px;
	.flower-close { position: absolute; right: 5px; top: 5px;
		font-family: "Microsoft YaHei", "Verdana"; color: #666666; font-weight: bold; width: 13px; height: 13px; cursor: pointer;
	}
	.flower-main { cursor: default; z-index: 11000; min-height: 220px; }
	.flower-btn-box { border-top: #b1b1b1 dotted 1px; margin: 0 20px; height: 89px;
		input { width: 274px; height: 38px; .bor(#666666); margin-top: 25px; font-size: 16px; }
		.box-btn-submit { margin-left: 11px; background-color: #00be6e; .bor(#00be6e); color: white; }
	}
}
.xui-min-tip { position: fixed; background-color: #ffffff; z-index: 99999; left: 33%; top: 40%; .bor(#cccccc); padding: 10px 15px; min-width: 200px;

	.tip-main {
		i { float: left; width: 48px; height: 48px; background: url('@{img}/s_btn_bg.jpg') -132px -179px no-repeat; }
		span { font-size: 16px; line-height: 48px; margin-left: 10px; }
		label { font-size: 16px; line-height: 24px; float: left; margin-left: 10px; }
	}
}
/*图片列表*/
.box-img-list { width: 900px; height: 600px;
	.img-tab { height: 35px; line-height: 35px; border-bottom: #eeeeee solid 1px;
		label { float: right; margin-right: 30px; }
		span { padding: 3px 8px; cursor: pointer; color: #1d6caa; }
		.active { color: #333333; }
		.search-img { width: 80px;
			input { width: 70px; font-size: 12px; line-height: 12px; padding: 2px; }
		}
	}
	/*内容*/
	.img-con { height: 480px; }
	.group-list { float: left; width: 160px; height: 100%; background-color: #f0f0f0; overflow: auto;
		p { text-indent: 20px; line-height: 30px; margin-top: 5px; }
		a { display: block; width: 100%; height: 100%; cursor: pointer; }
		.active { background-color: white; }
		&::-webkit-scrollbar { width: 2px; }
		&::-webkit-scrollbar-track { background-color: #f1f1f1; }
		&::-webkit-scrollbar-thumb { background-color: #666666; }
	}
	.list { float: left; width: 700px;
		ul { padding: 10px; height: 390px; overflow: auto;
			&::-webkit-scrollbar { width: 2px; }
			&::-webkit-scrollbar-track { background-color: #f1f1f1; }
			&::-webkit-scrollbar-thumb { background-color: #666666; }
		}
		li { width: 120px; height: 140px; cursor: pointer; margin: 6px; float: left; position: relative; font-size: 0;
			p { height: 20px; line-height: 20px; font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
			cite { position: absolute; bottom: 20px; width: 120px; height: 25px; line-height: 25px; }
			.c-bg { background-color: #333333; opacity: .2; }
			.c-txt { color: white; font-size: 12px; text-align: center; }
		}
		.active {
			.img-bor { width: 116px; height: 116px; border: #1d6caa solid 2px; position: absolute; top: 0; left: 0;
				i { position: absolute; right: 0; bottom: 0; }
				.i-bg { border: 14px solid #0077dd; border-left-color: transparent; border-top-color: transparent; }
				.i-icon { width: 14px; height: 14px; margin-right: 2px; background: url('@{img}/icon2.png') -288px 0 no-repeat; }
			}
		}
		img { width: 120px; height: 120px; }

		/**/
		.state-bar { background-color: #f5f5f5; height: 50px; line-height: 50px; margin-top: 10px; font-size: 12px;
			.link-upload { font-size: 14px; height: 25px; line-height: 25px; padding: 0 10px; margin-top: 13px; background-color: #00a147; border-radius: 4px; color: white; cursor: pointer; margin-left: 30px; }
			a { float: left; }
			span { float: right; margin-right: 10px; }
			.go-page { width: 30px; font-size: 12px; font-family: "Arial"; border: #cccccc solid 1px; }

			.page-nubmer { font-size: 12px;
				a, label { border: #cccccc solid 1px; margin-top: 12px; margin-right: 5px; background-color: white; border-radius: 3px; }
				a { padding: 0 9px; height: 25px; line-height: 25px; }
				label { height: 25px; padding: 0 5px; line-height: 23px; float: left; }
			}
		}
	}
	/*按钮*/
	.btn-list { height: 80px; border-top: #eeeeee solid 1px; text-align: center;
		a { border: #cccccc solid 1px; border-radius: 2px; display: inline-block; width: 100px; height: 35px; line-height: 35px; text-align: center; margin-top: 20px; font-size: 16px; background-color: #f0f0f0; color: #cccccc; }

		.active { background-color: #1d6caa; color: white; border-color: #1d6caa; }
	}
}
/*商品选择*/
.box-goods-select { width: 700px; height: 550px;
	.img-tab { height: 35px; line-height: 35px; border-bottom: #eeeeee solid 1px;
		label { float: right; margin-right: 30px; }
		span { padding: 3px 8px; cursor: pointer; color: #1d6caa; }
		.active { color: #333333; }
		.search-img { width: 80px;
			input { width: 70px; font-size: 12px; line-height: 12px; padding: 2px; }
		}
	}
	/*内容*/
	.img-con { height: 430px; }
	.g-search { margin-top: 15px; height: 60px; border-bottom: #eeeeee solid 1px; padding-bottom: 15px;
		li { width: 33%; float: left; height: 30px; line-height: 30px; }
		span { margin-left: 20px; }
		label { margin-right: 20px; }
		.label-input { width: 100px; height: 25px;
			input { font-size: 12px; height: 25px; }
		}
		.btn-search { margin-left: 20px; display: inline-block; height: 30px; line-height: 30px; padding: 0 20px; border-radius: 2px; font-size: 12px; border: 1px solid #cccccc;
			text-align: center; vertical-align: middle; background-color: white; margin-right: 10px; }
	}
	.op-tab { margin-top: 10px; height: 30px; line-height: 30px; border-left: #cccccc solid 1px;

		a { float: left; font-size: 12px; width: 120px; height: 29px; text-align: center; border-top: #cccccc solid 1px; border-right: #cccccc solid 1px; }
	}
	.data-list {
		table { width: 100%; border-top: #cccccc solid 1px; }

		th, td { border-bottom: 1px solid #e5e5e5; font-size: 12px; }
		tr {
			&:hover { background-color: #f8f8f8; }
		}
		tr:last-child{
			td { border-color:white }
		}
		th { font-weight: normal; background-color: #f8f8f8; height: 29px; line-height: 29px; }
		td { text-align: center; height: 90px; }
		.td-img { width: 90px;
			img { width: 70px; height: 70px; margin-top: 8px; }
		}
		.td-title { text-align: left; }
		a { color: #3283fa; }
		.td-op { text-align: right; padding-right: 20px;
			span { color: #3283fa; margin-left: 3px; }
			.dis { color: #999999; cursor: default; }
		}
		.btn-select{border: #cccccc solid 1px; margin: 15px 0 0 10px; font-size: 12px; border-radius: 2px; display: inline-block; width: 50px; height: 30px; line-height: 30px; text-align: center; color: #333;}

	}

	/*按钮*/
	.btn-list { height: 60px; line-height: 60px; border-top: #eeeeee solid 1px;
		.btn-submit { border: #cccccc solid 1px; margin: 15px 0 0 10px; font-size: 12px; border-radius: 2px; display: inline-block; width: 100px; height: 30px; line-height: 30px; text-align: center; background-color: #f0f0f0; color: #cccccc; }
		.active { background-color: #1d6caa; color: white; border-color: #1d6caa; }



		span { float: right; margin-right: 10px;font-size: 12px;
			a { float: left; }
		}
		.go-page { width: 30px; font-size: 12px; font-family: "Arial"; border: #cccccc solid 1px; }

		.page-nubmer { font-size: 12px;
			a, label { border: #cccccc solid 1px; margin-top: 17px; margin-right: 5px; background-color: white; border-radius: 3px; }
			a { padding: 0 9px; height: 25px; line-height: 25px; }
			label { height: 25px; padding: 0 5px; line-height: 23px; float: left; }
		}
	}
}