
.box{width: 100%;height: 100%;font-size: 0;
  svg{font-size: 14px;}
}


.info-box{width: 310px;height: 100px;display: none; position: fixed;
  padding: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  background-color: #fff;
  border-radius: 6px;

  .img-box{width: 50px;
    height: 50px;
    background-size: cover;
    float: left;
    border-radius: 8px;
img{max-width: 50px;max-height:50px}
  }
  .info-list{float: left;
    min-height: 100px;
    padding-left: 15px;
    width: 240px;
    p{margin-top: 7px;}
  }

}