@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1551771723473'); /* IE9 */
  src: url('iconfont.eot?t=1551771723473#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJsAAsAAAAABhwAAAIiAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAokRQE2AiQDCAsGAAQgBYRtBzEbbAXILrBt2JMAc+ZAcbBj9gkIwEkE0VpZPXC/T6gQFYOmkIojNjYKlI0wMTZCsY6+tWn61wboJYv/ho/G7Jwsw5dsR467xMtwEaoKUAtYO2npi1kvBAE6KlJ4n+dyehPoQO6qD5TLGIPGmjSpF1AvDqQA98IoshLKuGHsghf4mECXSQOFq93pLdQV9qpAvA08C+qFiKKwfCO0Gg4W8UXVpE9pfI6+H/9sRENSM7vp9vnWhcXPTlGunccBIUpAxysy1oFCPGjMXCsJxpV0ZcpmwbHqg5/b7cAtjuoQ7K+za3vAOMwGP3srBUjwWBNVdE/aRNQnz471eMbRRf/HkQVuWOCf5an0VSDY/7b1jv43FPADRvZimI9mNW/w+qqBfcXQ2K5UNFXjcFJ329KlC204MORvqnX0XIXQGJ3g6zCRIWvMk4VdR9VtCy2NU3RZsz/ebZgoidKJVZ8AYcAXkj7fkQ34Jgv7i2rMP1oGIqPLoxi+sNtivGpeCllKLtofGDicGtejzbj+mryX2JK8JuLvSfIgjtPRpJzfU0qyxJb81ZupGjTCCe7AcxTHjJlwSI6OfNVsPh6bpjeNHE6g6ZIgFkVcyPYBBRwsZYLRqln5/DXieRGzSEdPXfoeEblgejQ1MhlA7o3poJ5HeSX3yjOjlIEMwRJoB+aRWIyhrHleiDjUiD8hlZkbO4PMUONoe3Pyd8egi21L4czMOj5y/OFxCgA=') format('woff2'),
  url('iconfont.woff?t=1551771723473') format('woff'),
  url('iconfont.ttf?t=1551771723473') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1551771723473#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-polygon:before {
  content: "\e6f0";
}

